<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.SET_TIME"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".activity.MyApp"
        android:usesCleartextTraffic="true">
        <activity android:name=".ChangePassword" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".activity.SimpleServiceExample"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:stopWithTask="false" />
        <service
            android:name=".service.JobScheduleService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:stopWithTask="false" />

        <receiver android:name=".AlarmReceiver" />

        <service
            android:name=".service.LocationService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />

        <receiver android:name=".service.AlarmService" />
        <receiver
            android:name=".BootCompletedIntentReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".StopService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.Broadcast" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.WakeupReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".NotificationActivity"
            android:label="@string/app_name" /> <!-- <action android:name="android.location.PROVIDERS_CHANGED" /> -->
        <receiver
            android:name=".GpsLocationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".LocationForGroundService"
            android:exported="false" />

        <provider
            android:name=".myprovider.EonContentProvider"
            android:authorities="in.eoninfotech.eontechnician.myprovider.EonContentProvider"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="in.eoninfotech.eontechnician.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notification_channel_id" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/app_icon" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".service.ForegroundService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:stopWithTask="false" />

        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activity.LoginActivityNew"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".MainActivityNew"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".TabNextDayPlanActivity" />
        <activity
            android:name=".AdminMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LogViewActivity" />
        <activity
            android:name=".TechnicianDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".VideoViewActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.FaultyDevicesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".CardViewActivity" />
        <activity android:name=".activity.FaultyDevicesDetailActivity" />
        <activity android:name=".LiveFaultData" />
        <activity android:name=".activity.LiveDataWebView" />
        <activity android:name=".activity.FaultyDeviceDetails" />
        <activity android:name=".activity.ImageDetailActivity" />
        <activity android:name=".activity.ImageDetailCallSheet" />
        <activity android:name=".activity.CallSheetList" />
        <activity android:name=".activity.MessageDetails" />
        <activity android:name=".FaqDetailActivity" />
        <activity android:name=".activity.CustomCalender" />
        <activity android:name=".activity.SendDatatoServer" />
        <activity android:name=".activity.ReceiveDeviceActivity" />
        <activity android:name=".activity.ReturnDeviceActivity" />
        <activity android:name=".activity.ReceiveDeviceDetails"
            android:windowSoftInputMode="adjustResize|adjustPan"/>
        <activity android:name=".activity.SendDeviceDetails" />
        <activity android:name=".ActivityDetailActivity" />
        <activity android:name=".activity.Devicedashboard" />
        <activity android:name=".activity.Devicedashboards" />
        <activity android:name=".activity.DevicedashboardDetail" />
        <activity android:name=".activity.AdditionalMaterialDetails" />
        <activity android:name=".activity.ViewDRSStatus" />
        <activity android:name=".DeviceMaintenance" />
        <activity android:name=".activity.ServiceRequestActivity" />
        <activity android:name=".activity.ServiceRequestDetails" />
        <activity
            android:name=".activity.MessageActivity"
            android:icon="@drawable/ic_delete_white_24dp"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" /> <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.SEARCH" /> -->
        <!-- </intent-filter> -->
        <service
            android:name=".service.LocationServices"
            android:enabled="true"
            android:exported="false" />
    </application>

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>

</manifest>